.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


body,html{
  font-family: 'Lato', sans-serif !important;
  overflow-x:hidden;
  background-color: #FAFAFB;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}


.navbar{
  background: rgba(153,0,0,0.69);
  background: -moz-linear-gradient(45deg, rgba(153,0,0,0.69) 0%, rgba(153,0,0,0.69) 1%, rgba(153,0,0,0.71) 7%, rgba(221,0,23,0.78) 29%, rgba(221,0,23,0.8) 35%, rgba(153,0,0,0.96) 87%, rgba(153,0,0,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(153,0,0,0.69)), color-stop(1%, rgba(153,0,0,0.69)), color-stop(7%, rgba(153,0,0,0.71)), color-stop(29%, rgba(221,0,23,0.78)), color-stop(35%, rgba(221,0,23,0.8)), color-stop(87%, rgba(153,0,0,0.96)), color-stop(100%, rgba(153,0,0,1)));
  background: -webkit-linear-gradient(45deg, rgba(153,0,0,0.69) 0%, rgba(153,0,0,0.69) 1%, rgba(153,0,0,0.71) 7%, rgba(221,0,23,0.78) 29%, rgba(221,0,23,0.8) 35%, rgba(153,0,0,0.96) 87%, rgba(153,0,0,1) 100%);
  background: -o-linear-gradient(45deg, rgba(153,0,0,0.69) 0%, rgba(153,0,0,0.69) 1%, rgba(153,0,0,0.71) 7%, rgba(221,0,23,0.78) 29%, rgba(221,0,23,0.8) 35%, rgba(153,0,0,0.96) 87%, rgba(153,0,0,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(153,0,0,0.69) 0%, rgba(153,0,0,0.69) 1%, rgba(153,0,0,0.71) 7%, rgba(221,0,23,0.78) 29%, rgba(221,0,23,0.8) 35%, rgba(153,0,0,0.96) 87%, rgba(153,0,0,1) 100%);
  background: linear-gradient(45deg, rgba(153,0,0,0.69) 0%, rgba(153,0,0,0.69) 1%, rgba(153,0,0,0.71) 7%, rgba(221,0,23,0.78) 29%, rgba(221,0,23,0.8) 35%, rgba(153,0,0,0.96) 87%, rgba(153,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990000', endColorstr='#990000', GradientType=1 );
  color: #FFFFFF;
  margin:0px;
  border-radius:0px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar .navbar-header a{
  color: #FFFFFF;
}

.navbar .navbar-right a{
  color: #FFFFFF;
  font-size: 14px;
}

.tc{
  text-align: center;
  display: inline-block !important;
}

.Banner--Text{
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 20px;
  background-color: #FAFAFB;
  font-size: 24px;
  text-align: center;
}

.Banner--Text.justify{
  /*margin-bottom: 5%;
  margin-top: 5%;*/
  margin: 2% 10% 2% 10%;
  padding: 20px;
  background-color: #FAFAFB;
  font-size: 24px;
  text-align: justify;
}

.Banner--Blood{
  background-color: #FAFAFB;
}

.Banner--Image{
  text-align: center;
  margin: auto 0;
}

.Banner--Image .helper {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.Banner--Image img{
  width: 100%;
  vertical-align: middle;
}